<div class="card  border-0 mb-3" style="max-width: 100%;">
    <div [ngSwitch]="cita?.status">
        <div *ngSwitchCase="2">
            <i class="fas fa-circle" style= "color: #ffc107"></i>
                Pendiente
        </div>
        <div *ngSwitchCase="3">
            <i class="fas fa-circle" style= "color: #17a2b8"></i>
                Reciente
        </div>
        <div *ngSwitchCase="4">
            <i class="fas fa-circle" style= "color: #dc3545"></i>
                Cancelada
        </div>
    </div>
    <div class="border border-dark mt-2">
        <ng-container [ngSwitch]="cita?.status">
            <div class="card-header bg-warning"
                *ngSwitchCase="2"
            ></div>
            <div class="card-header bg-info"
                *ngSwitchCase="3"
            ></div>
            <div class="card-header bg-danger"
                *ngSwitchCase="4"
            ></div>
        </ng-container>
        <div class="card-body text-dark">
            <h5 class="card-title mb-1">Paciente: </h5>{{cita?.pacient}}
            <p class="font-weight-bold mt-2 mb-1"
                style="font-weight: bolder;"
            >Fecha consulta: </p>{{this.date}}
            <p class="font-weight-bold mt-2 mb-1"
                style="font-weight: bolder;"
            >Descripción: </p>{{cita?.description}}
            <div class="card-text mt-2 mb-1"
                *ngIf="cita?.cancellationMotive"
            >
                <p class="font-weight-bold mt-2 mb-1"
                    style="font-weight: bolder;"
                >Motivo cancelación: </p>{{cita?.cancellationMotive}}
                <p class="font-weight-bold mt-2 mb-1"
                    style="font-weight: bolder;"
                >Responsable de cancelación: </p>{{cita?.responsable}}
            </div>
        </div>
    </div>
</div>