<div [ngSwitch]="option">
    <div *ngSwitchCase="1">
        <form [formGroup]="addressForm1" novalidate (ngSubmit)="onSubmit(1)">
            <mat-card class="add-date-card">
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Nombre" formControlName="firstName">
                                <mat-error *ngIf="addressForm1.controls['firstName'].hasError('required')">
                                    Nombre <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Apellido" formControlName="lastName">
                                <mat-error *ngIf="addressForm1.controls['lastName'].hasError('required')">
                                    Apellido <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput type="date" placeholder="Fecha" formControlName="date">
                                <mat-error *ngIf="addressForm1.controls['date'].hasError('required')">
                                    Fecha <strong>requerida!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <textarea matInput #descripcion placeholder="Descripción" formControlName="description"></textarea>
                                <mat-error *ngIf="addressForm1.controls['description'].hasError('required')">
                                    Descripción <strong>requerida!</strong>
                                </mat-error>
                                <mat-hint align="end">{{descripcion.value.length}} / 250</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <button mat-raised-button type="button" class="btn btn-secondary bg-secondary me-5" style="color: white;" data-bs-dismiss="modal" (click)="addressForm1.reset()">Cancelar</button>
                    <button mat-raised-button type="submit" [disabled]="!addressForm1.valid" style="color: white;"
                        [ngStyle]="{'background-color': !addressForm1.valid ? 'gray' : '#D23851' }"
                    >Enviar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <!-- Formulario 2 -->
    <div *ngSwitchCase="2">
        <form *ngIf="cita?._id" [formGroup]="addressForm2" novalidate (ngSubmit)="onSubmit(2)">
            <mat-card class="modify-date-card">
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{cita?.firstName}}" formControlName="firstName">
                                <mat-error *ngIf="addressForm2.controls['firstName'].hasError('required')">
                                    Nombre <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{cita?.lastName}}" formControlName="lastName">
                                <mat-error *ngIf="addressForm2.controls['lastName'].hasError('required')">
                                    Apellido <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput type="date" placeholder="{{this.date}}" formControlName="date">
                                <mat-error *ngIf="addressForm2.controls['date'].hasError('required')">
                                    Fecha <strong>requerida!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <textarea matInput #descripcion placeholder="{{cita?.description}}" formControlName="description"></textarea>
                                <mat-error *ngIf="addressForm2.controls['description'].hasError('required')">
                                    Descripción <strong>requerida!</strong>
                                </mat-error>
                                <mat-hint align="end">{{descripcion.value.length}} / 250</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <button mat-raised-button type="button" class="btn btn-secondary bg-secondary me-5" style="color: white;" data-bs-dismiss="modal" (click)="addressForm2.reset()">Cancelar</button>
                    <button mat-raised-button type="submit" [disabled]="!addressForm2.valid" style="color: white;"
                        [ngStyle]="{'background-color': !addressForm2.valid ? 'gray' : '#D23851' }"
                    >Enviar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <!-- Formulario 3 -->
    <div *ngSwitchCase="3">
        <form *ngIf="cita?._id" [formGroup]="addressForm3" novalidate (ngSubmit)="onSubmit(3)">
            <mat-card class="modify-date-card">
                <mat-card-content>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Nombre" formControlName="firstName">
                                <mat-error *ngIf="addressForm3.controls['firstName'].hasError('required')">
                                    Nombre <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Apellido" formControlName="lastName">
                                <mat-error *ngIf="addressForm3.controls['lastName'].hasError('required')">
                                    Apellido <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput #rut placeholder="Rut" formControlName="rut">
                                <mat-error *ngIf="addressForm3.controls['rut'].hasError('required')">
                                    Rut <strong>requerido!</strong>
                                </mat-error>
                                <mat-hint align="end">{{rut.value.length}} / 10</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Teléfono" formControlName="phone">
                                <mat-error *ngIf="addressForm3.controls['phone'].hasError('required')">
                                    Teléfono <strong>requerido!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input matInput type="email" placeholder="Correo" formControlName="mail">
                                <mat-error *ngIf="addressForm3.controls['mail'].hasError('required')">
                                    Email <strong>requerida!</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-end">
                    <button mat-raised-button type="button" class="btn btn-secondary bg-secondary me-5" style="color: white;" data-bs-dismiss="modal" (click)="addressForm3.reset()">Cancelar</button>
                    <button mat-raised-button type="submit" [disabled]="!addressForm3.valid" style="color: white;"
                        [ngStyle]="{'background-color': !addressForm3.valid ? 'gray' : '#D23851' }"
                    >Enviar</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
  </div>