<shared-navbar></shared-navbar>
<div class="container-fluid h-100 mx-0 px-0">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="row mt-5 mb-2">
                <div class="col text-center align-content-center align-items-center mt-5 ms-1 me-5" 
                    style="opacity: 80%;"
                >
                    <visitor-register-form
                        [opcion]="2"
                    ></visitor-register-form>
                </div>
            </div>
        </div>
    </div>
    <shared-footer></shared-footer>
</div>