<div class="container-fluid h-100 mx-0">
    <shared-navbar></shared-navbar>
    <div class="titulo row mt-4">
        <div class="col">
            <p class="mb-0">Al cuidado de</p>
            <p class="my-0" style="color: #D23851;">tus amigos!</p>
            <div class="linea"></div>
        </div>
    </div>
    <div class="eslogan row">
        <div class="col">
            <p class="mb-0">Todos tus amigos al cuidado de</p>
            <p class="my-0">los mejores especialistas</p>
        </div>
    </div>
    <div class="botones row">
        <div class="col-6" style="padding-left: 4rem;">
            <div class="row mt-4">
                <div class="col-5 pt-1 text-center" style="background-color: #D23851; color: white;">Encuentra lo que buscas!</div>
                <div class="col-1"></div>
                <div class="col-5 pt-1 text-center" style="background-color: gray; color: white;">Contactanos</div>
            </div>
        </div>
    </div>
    <shared-footer></shared-footer>
</div>