<div class="container-fluid h-100" style="background: rgba(152, 150, 150, 0.3);">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-6 my-auto">
            <div class="row h-100">
                <div class="card mb-3 mx-auto h-100 mt-5" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-8 w-100">
                                <div class="card-text mt-4 mx-3 text-center" style="height: 200px; border-radius: 20px; background-color: #C4C4C4;">
                                    <div class="row h-100 my-auto align-items-center">
                                        <div class="col">
                                            Imagen aquí
                                        </div>
                                    </div>
                                </div>
                                <button class="card-text text-end me-5 w-100 mt-2 pe-4" style="background: none; border: none; outline:none">
                                    <small class="text-muted">Subir imagen </small><i class="fas fa-camera ms-1"></i>
                                </button>
                                <div class="row mx-2 align-items-center">
                                    <div class="col">
                                        <div class="card-title" style="font-size: 40px;">Mi perfil </div>
                                    </div>
                                    <div class="col">
                                        <div class="text-muted text-end">
                                            <small style="font-family: 'Handlee', cursive;font-size: 17px;">Ultima conexión: 25 de Junio, 2021</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body mx-2">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-6 my-auto">
            <div class="row">
                <div class="card mb-3 mx-auto h-100" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-8 w-100">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 30px;">Doctores: </h5>
                                    <hr class="w-100" style="height: 2px; margin: revert;">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mx-auto h-100" style="max-width: 600px;">
                    <div class="row g-0">
                        <div class="col-md-8 w-100">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 30px;">Mascotas: </h5>
                                <hr class="w-100" style="height: 2px; margin: revert;">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <shared-footer></shared-footer>
</div>